# .gitignore
Curso 01 - Lógica de programação - Comece em logica com o jogo Pong e Javascript

# .gitignore
Curso 02 - Lógica de programação - Laços e listas com javascript

# .gitignoe
Iniciante em Programação.png