.DS_Store

# gitignore
Robotron 2000 - Amarelo

# gitignore
Robotron 2000 - Azul

# gitignore
Robotron 2000 - Branco

# gitignore
Robotron 2000 - Preto

# gitignore
Robotron 2000 - Rosa

# gitignore
Robotron 2000 - Vermelho